<@
layout("/include/_dialog.html"){
@>
<script type="text/javascript">
var tree;
$(document).ready(function(){
	var setting = {
			async:{
				enable:true,
				autoParam:['id'],
				dataType:'json',
				type:'get',
				url:"${ctx}${url}",
				dataFilter:function(treeId,parentNode,responseData){
					return responseData.data ;
				}
			},
			data:{
				key:{
					url:"none"
				},
				simpleData: {
					idKey: "id",
					pIdKey:"parent.id",
					enable:true,
				}
			},
			 check:{enable:${checked}},
			callback:{
				onClick:function(event, treeId, treeNode,clickFlag){

				},
				onAsyncSuccess:function(event, treeId, treeNode, msg){
					var treeObj = $.fn.zTree.getZTreeObj(treeId);
					var nodes = treeObj.getNodes();
					treeObj.expandNode(nodes[0], true, true, true);
				}
			}
	}
	tree = $.fn.zTree.init($('#ztree'),setting,null);
	//查找功能
	var to = false;
	$('#search-q').keyup(function () {
		if (to) {
			clearTimeout(to);
		}
		to = setTimeout(function () {
			var v = $('#search-q').val();
			search(v);
		}, 250);
	});
	$("#searchButton").click(function () {
		var v = $('#search-q').val();
		search(v);
	})

});

function search(v) {
	var treeObj = $.fn.zTree.getZTreeObj("ztree");
	treeObj.setting.async.otherParam = ['search', v];
	$("#ztree").text("正在查询");
	var index =layer.load();
	treeObj.reAsyncChildNodes(null,"refresh",true ,function(){
		layer.close(index);
	});
}
</script>

<div class="white-box">
	<@ if(allowSearch! == 'true'){ @>
	<!-- 搜索 -->
	<div class="input-group pt-2 mb-3 pl-2 pr-2">
		<input id="search-q" type="text" class="form-control"   placeholder="查找..." >
		<div class="input-group-append">
			<button class="btn btn-primary" type="button" ><i class="fa fa-search"></i></button>
		</div>
	</div>

	<@ } @>
	<ul id="ztree" class="ztree"></ul>
</div>

<@ } @>