<%
layout("/include/_dialog.html"){
%>
<style>
	.bootstrap-tagsinput .tag{
		display: -webkit-inline-box;
		white-space: pre-wrap;
		word-wrap: break-word;
		overflow: hidden;
		text-align: left;
		border-radius: 15px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		var selectedId = "${parameter.selectedId!}";
		var selectedName = "${parameter.selectedName!}";
		//bootstrap treeview初始化
		//jsTree初始化
		var to = false;
		$('#search-q').keyup(function () {
			if(to) { clearTimeout(to); }
			to = setTimeout(function () {
				var v = $('#search-q').val();
				$('#jstree').jstree(true).search(v);
			}, 250);
		});
		$('#jstree').jstree({
			'core' : {
				"multiple" : false,
				"animation" : 0,
				"themes" : {"icons":true , "stripes":false},
				'data' : {
					"url" : "${ctx}/sys/office/treeData",
					"dataType" : "json"
				}
			},
			"conditionalselect" : function (node, event) {
				return false;
			},
			'plugins': [ 'types', "wholerow" ,  "search"],
			"types":{
				'default' : { 'icon' : 'fa fa-folder-o' }
			}

		}).bind("select_node.jstree", function (obj, e) {
			var node = $('#jstree').jstree(true).get_selected(true)[0];
			var id = node.id == '0' ? '' :node.id;
			if(node.original.type == 1){//level=0 代表公司
				$("#companyId").val(id);
				$("#companyName").val(node.text);
				$("#officeId").val("");
				$("#officeName").val("");
			}else{
				$("#companyId").val("");
				$("#companyName").val("");
				$("#officeId").val(id);
				$("#officeName").val(node.text);
			}

			$('#table').bootstrapTable('refresh');

		}).bind("check_node.jstree", function (obj, e) {
			$('#selectedUsers').tagsinput('add', {id: e.node.id, name: htmlDecode(e.node.text)});
		}).bind("uncheck_node.jstree", function (obj, e) {
			$('#selectedUsers').tagsinput('remove', {id: e.node.id, name: e.node.text});
		}).on('loaded.jstree', function() {
			$("#jstree").jstree('open_all');
			if (selectedId) {
				var selectedIdAry = selectedId.split(",");
				var selectedNameAry = selectedName.split(",");
				for(var i=0; i<selectedIdAry.length; i++){
					var node = $('#jstree').jstree("get_node", selectedIdAry[i]);
					if(node){
						$('#jstree').jstree('check_node', node.id);
					}
				}
			}
		});
		$("#selectedUsers").tagsinput({
			itemValue: 'id',
			itemText: 'name'
		});

		if (selectedId) {
			var selectedIdAry = selectedId.split(",");
			var selectedNameAry = selectedName.split(",");
			for(var i=0; i<selectedIdAry.length; i++){
				$('#selectedUsers').tagsinput('add', {id: selectedIdAry[i], name: selectedNameAry[i]});
			}
		}

		//初始化表格
		$('#table').bootstrapTable({

			//请求方法
			method: 'post',
			//类型json
			dataType: "json",
			contentType: "application/x-www-form-urlencoded",
			//是否显示行间隔色
			striped: false,
			//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
			cache: false,
			//是否显示分页（*）
			pagination: true,
			//排序方式
			sortOrder: "asc",
			//初始化加载第一页，默认第一页
			pageNumber:1,
			//每页的记录行数（*）
			pageSize: 5,
			//可供选择的每页的行数（*）
			pageList: [5,10,20,50],
			//这个接口需要处理bootstap table传递的固定参数,并返回特定格式的json数据
			url: "${ctx}/sys/user/list",
			//默认值为 'limit',传给服务端的参数为：limit, offset, search, sort, order Else
			//queryParamsType:'',
			////查询参数,每次调用是会带上这个参数，可自定义
			queryParams : function(params) {
				var searchParam = $("#searchForm").serializeJSON();
				searchParam.pageNo = params.limit === undefined? "1" :params.offset/params.limit+1;
				searchParam.pageSize = params.limit === undefined? -1 : params.limit;
				if(params.sort && params.order){
					searchParam.orderBy = params.sort+ " "+  params.order;
				}
				return searchParam;
			},
			//分页方式：clrient客户端分页，server服务端分页（*）
			sidePagination: "server",
			onClickRow: function(row, $el){
			},
			columns: [ {
			<% if("true" == parameter.isMultiSelect){ %>
			checkbox: true
			<% } else { %>
			radio: true
			<% } %>
	,formatter:function(value, row , index) {
			if ((getIdSelections().join(",")+",").indexOf(row.id+",") > -1) {
				return {
					checked : true//设置选中
				}
			} else {
				return value;
			}
		}
	}, {
			field: 'name',
					title: '姓名',
					sortable: true,
					width:'20%'
		}, {
			field: 'sex',
					title: '性别',
					sortable: true,
					width: '80px',
					formatter:function(value, row , index){
				return jp.getDictLabel(${fn.toJson(fn.getDictList('sex'))}, value, "-");
			}
		}, {
			field: 'office.name',
					title: '组织',
		}]

	});


		$('#selectedUsers').on('itemRemoved', function(event) {
			if (event.item) {
				var rows = $('#table').bootstrapTable("getData");
				for(var i=0; i<rows.length; i++){
					if(event.item.id === rows[i].id){
						$('#table').bootstrapTable("uncheck", i);
					}
				}
				var node = $('#jstree').jstree("get_node", event.item.id);
				if(node){
					$('#jstree').jstree('uncheck_node', node.id);
				}
			}
		});


		$('#table').on('uncheck.bs.table check.bs.table check-all.bs.table uncheck-all.bs.table',function(e,rows){
			var datas = $.isArray(rows) ? rows : [rows];        // 点击时获取选中的行或取消选中的行
			for(var i=0; i<datas.length; i++){
				var row = datas[i];
				var ids = ","+getIdSelections().join(",")+",";
				if(row['0']){
					if(ids.indexOf(","+row.id+",") < 0) {
						$('#selectedUsers').tagsinput('add', {id: row.id, name: htmlDecode(row.name), loginName: row.loginName});
					}
				}else{

					if(ids.indexOf(","+row.id+",") >= 0){
						$('#selectedUsers').tagsinput('remove', { id: row.id, name: row.name ,loginName: row.loginName});
					}

				}

			}
		});

		$('#table').on("load-success.bs.table", function(data) {
			var rows = $('#table').bootstrapTable("getData");
			var ids = ","+getIdSelections().join(",")+",";
			for(var i=0; i<rows.length; i++){
				if(ids.indexOf(","+rows[i].id+",") >= 0){
					$('#table').bootstrapTable("check", i);
				}
			}
			// var bodyHeight = $(".wrapper-content").height();
			// $("#jstree").height(bodyHeight-37);
			// $(".bootstrap-tagsinput").height(bodyHeight-37);
			var tableHeight = $(".jp-table-wrapper").height() + 42;
			$("#jstree").height(tableHeight-37);
			$(".bootstrap-tagsinput").height(tableHeight-37);
		});

		if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){//如果是移动端，默认关闭tab
			$('#table').bootstrapTable("toggleView");
		}

		$('#table').on('check.bs.table uncheck.bs.table load-success.bs.table ' +
				'check-all.bs.table uncheck-all.bs.table', function () {
			$('#remove').prop('disabled', ! $('#table').bootstrapTable('getSelections').length);
			$('#edit').prop('disabled', $('#table').bootstrapTable('getSelections').length!=1);
		});



		$("#search").click("click", function() {// 绑定查询按扭
			$('#table').bootstrapTable('refresh');
		});
		$("#reset").click("click", function() {// 绑定查询按扭
			$("#searchForm  input").val("");
			$("#searchForm  select").val("");
			$("#jstree").jstree(true).deselect_all();
			$('#table').bootstrapTable('refresh');
		});


	});

	function getIdSelections() {
		return $.map($("#selectedUsers").tagsinput('items'), function (row) {
			return row.id
		});
	}
	function getLoginNameSelections() {
		return $.map($("#selectedUsers").tagsinput('items'), function (row) {
			return row.loginName
		});
	}

	function getNameSelections() {
		return $.map($("#selectedUsers").tagsinput('items'), function (row) {
			return row.name
		});
	}

	function getSelections() {
		return $.map($("#selectedUsers").tagsinput('items'), function (row) {
			return row
		});
	}
	function htmlDecode(text){
		return text.replace(/&amp;/g,'&').replace(/&quot;/g,'"').replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&middot;/g,'·');
	}

	function inputKeyPress(e){
		if(e == 13){
			$("#search").click();
		}
	}
</script>

<div class="wrapper wrapper-content white-box">
	<div class="row" style="margin: 0px !important;">
		<div class="col-sm-3 col-md-2" style="width: 30%">
					<span class="jp-input-search jp-input-affix-wrapper " style="margin-bottom: 5px;">
						<input id="search-q" placeholder="查找..." class="jp-input" type="text">
						<span class="jp-input-suffix">
							<i class="jp-icon jp-icon-search jp-input-search-icon"></i>
						</span>
					</span>
			<div id="jstree" style="overflow-x:auto; border:0px;"></div>
		</div>
		<div  class="col-sm-6 col-md-8" style="width: 45%">
			<!-- 搜索框-->
			<form id="searchForm" class="row form-horizontal pull-left"  style="margin-bottom: 10px" onsubmit="return false;">
				<input type="hidden" id="companyId" name="company.id"/>
				<input type="hidden" id="officeId" name="office.id"/>
				<div class="col-sm-7">
					<label class="label-item single-overflow pull-left" title="姓名：">姓名：</label>
					<input type="text" name="name" maxlength="100"  class=" jp-input" onkeypress="inputKeyPress(event.keyCode||event.which)"/>
				</div>
				<div class="col-sm-5" style="padding-right: 10px;padding-left: 10px;">
					<div>
						<a  id="search" class="jp-btn jp-btn-primary"><i class="fa fa-search"></i> 查询</a>
						<a  id="reset" class="jp-btn " ><i class="fa fa-refresh"></i> 重置</a>
					</div>
				</div>
			</form>

			<!-- 表格 -->
			<table id="table"
				   class="table-bordered">
			</table>

		</div>
		<div class="col-sm-3 col-md-2" style="width: 25%">
			已选人员:
			<label  class="jp-input" id="selectedUsers" value="" />
		</div>
	</div>
</div>
<% } %>