<!DOCTYPE html>
<html lang="en">
<@ include("/include/_common_header.html"){} @>
<head>
    <title>404</title>
    <@include("error.css"){}@>
</head>
<body>
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1 class="error-code text-danger">401</h1>
            <h3 class="error-msg text-muted">没有权限访问~</h3>
            <h6 class="text-muted m-t-30 m-b-30">出现此错误页面，请向管理员申请权限</h6>
        </div>
    </div>
</section>
</body>
</html>